html {
    box-sizing: border-box;
}

body, 
h2, 
h3,
p {
    margin: 0;
    font-family: 'Roboto';
}

.head-background {
    background-color: #1f2937;
}

.header {
    background-color: #1f2937;
    color: white;
    margin-inline: auto;
    width: min(90%, 70.5rem);
    
}

.logo {
    font-size: 1.3em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 0 10px;
    font-size: .9em;
}

.header-notheader {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.header-text {
    max-width: 40%;
}

.header-text p {
    opacity: 60%;
}

.image {
    height: 200px;
    width: 500px;
    background-color: grey;
    margin: 1rem;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: royalblue;
    border: 1px solid royalblue;
    color: white;

}

/* Middle photos */


.somerandom {
    justify-content: center;
    display: flex;
    padding: 2rem;
    font-size: 1.5em;
}

.whole {
    max-width: 200px;
    text-align: center;
    margin: 0 2rem;
}

.pictures {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.square {
    height: 100px;
    width: 100px;
    border: 2px solid royalblue;
    border-radius: 8px;
}

.text {
    font-size: 13px;
    opacity: 60%;
    max-width: 100px;
}


/* Middle photos */
.background-quote {
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.quote-container p {
    font-size: 36px;
    font-style: italic;
    
}

.thor {
    align-items: flex-end;
    justify-content: end;
}

.thor p {
    font-weight: bold;
    font-size: 20px;
}























footer {
    background-color: #1f2937;
    color: white;
}

