html {
    box-sizing: border-box;
}

body, 
h2, 
h3,
h1,
p {
    margin: 0;
    font-family: 'Roboto';
}

.head-background {
    background-color: #1f2937;
}

.header {
    background-color: #1f2937;
    color: white;
    margin-inline: auto;
    width: min(90%, 70.5rem);
    
}

.logo {
    font-size: 1.3em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 0 10px;
    font-size: .9em;
}

.header-notheader {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.header-text {
    max-width: 40%;
    
}

.header-text p {
    opacity: 60%;
    padding: 1rem 0;
}

.image {
    height: 200px;
    width: 500px;
    background-color: grey;
    margin: 1rem;
}

.header-text button {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: royalblue;
    border: 1px solid royalblue;
    color: white;

}

/* Middle photos */


.somerandom {
    justify-content: center;
    display: flex;
    padding: 2rem;
    font-size: 1.5em;
}

.whole {
    max-width: 200px;
    text-align: center;
    margin: 0 2rem;
}

.pictures {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.square {
    height: 100px;
    width: 100px;
    border: 2px solid royalblue;
    border-radius: 8px;
}

.text {
    font-size: 13px;
    opacity: 60%;
    max-width: 100px;
}


/* Quote Section */

.background-quote {
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: min(90%, 70.5rem);
    padding: 7rem 0;
}

.quote-container p {
    font-size: 36px;
    font-style: italic;
}

.thor {
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem 0;
}

.thor h1 {
    font-weight: bold;
    font-size: 20px;
}

/* Call to action */

.call-to-action-section {
    padding: 8rem 0;
}


.call-to-action {
    background-color: royalblue;
    color: white;
    display: flex;
    margin-inline: auto;
    width: min(90%, 70.5rem);
    border-radius: 8px;
    justify-content: space-around;
    padding: 2rem 0;
    
}

.call-to-action-section button {
    border-radius: 8px;
    background-color: royalblue;
    border: 2px solid white;
    color: white;
    margin: 20px 0;
    padding: 0 2rem;
    font-weight: bold;
    
}

.call-to-action-text {
    padding: 1rem;
}

.call-to-action-text h3 {
    font-size: 23px;
}

.call-to-action-text p {
    opacity: 70%;
}

/* footer */

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    padding: 3rem 0;
}

