html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #a7c7c9;
}

.whole-wrapper {
    margin-inline: auto;
    width: min(90%, 60rem);
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.human-computer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    text-align: center;
}

.weapons {
    display: flex;
    justify-content: space-between;
}

.rock {
    padding: 1rem;
}

